



*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
   
}

body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color:white;
}
h1{
    text-align: center;
    color: green;
    margin: 15px auto;
    font-weight: 900;
    font-family: monospace;
    font-size: 35px;
}
p,a{
    color: green;
    text-align: center;
    margin: 10px auto;  
   font-weight: 900;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    /* margin: 8px; */
    padding: 15px;
    
   
}
nav a{
    text-decoration: none;
    padding: 12px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
nav img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
   
    padding: 25px;
    background-color: wheat;
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
    border: 1px solid green;
    margin: 20px;
    
    
}
::placeholder{
    color: green;

}

.form-group{
    margin-bottom: 20px;
}
.form-group label{
    display: block;
    margin: 5px;
    color: white;
}
.form-group input{
    width: 100%;
    padding: 15px;
    border: 2px solid green;
    outline: none;
    border-radius: 15px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: wheat;
    font-weight: 900;
    /* text-decoration: green; */
    color: black;
    box-sizing: border-box; /* Ensures padding and border are included in width */
}
button{
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    /* margin: 5px 0; */
    cursor: pointer;
    background-color:rgb(26, 104, 26) ;
    color: white;
    /* font-size: 15px; */
    font-weight: 900;
    box-sizing: border-box;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@media (max-width: 600px){
    .container{
        padding: 15px;
    }
}